* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: auto;
  width: 100vw;
  min-height: 100vh;
}
.container {
  background-color: lightgray;
  border: solid 1px black;
  margin-top: 2%;
  padding: 20px;
  width: fit-content;
  margin-left: 50%;
  transform: translateX(-50%);
}
/* Refer css to this page:
/* https://www.section.io/engineering-education/building-a-calculator-a-javascript-project-for-beginners/ */
.calculator-grid {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: minmax(120px, auto) repeat(5, 70px);
}
.calculator-grid > button {
  cursor: pointer;
  font-size: 2rem;
  border: 1px, solid #ffffff;
  outline: none;
  background-color: rbga(255, 255, 255, 0.75);
}

.calculator-grid > button:hover {
  background-color: #a9a9a9;
}

.span-two {
  grid-column: span 2;
  color: #adf802;
  background-color: rgba(139, 0, 139, 0.8);
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  height: 100px;
}

.output .previous-operand {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.5rem;
}

.output .current-operand {
  color: white;
  font-size: 2.5rem;
}
